#tablets > *{
	opacity: 0;
}
#tablets .tablet-left{
	position: relative;
	float: left;
	margin: 105px 0 0 124px;  width: 237px;  height: 254px;
	background: url('../../content/img/tablets/tablet-left.png') no-repeat;
	background-size: 100%;
}
#tablets .tablet-left > *{
	position: absolute;
	top: 10px;
	left: -20px;
	width: 280px;
	height: 200px;
	opacity: 0;
}
#tablets .step-1{
	background: url('../../content/img/tablets/t-step-1.png') no-repeat;
	background-size: 100% 100%;
}
#tablets .step-2{
	background: url('../../content/img/tablets/t-step-2.png') no-repeat;
	background-size: 100% 100%;
}
#tablets .step-3{
	top: 30px;
	left: 5px;
	background: url('../../content/img/tablets/t-step-3.png') no-repeat;
	background-size: 228px 166px;
}
#tablets .step-4{
	top: 13px;
	background: url('../../content/img/tablets/t-step-4.png') no-repeat;
	background-size: 277px 201px;
}
#tablets .step-5{
	top: -3px;
	left: -39px;
	background: url('../../content/img/tablets/t-step-5.png') no-repeat;
	background-size: 309px 239px;
}
#tablets .tablet-right{
	float: right;
	margin: 93px 126px 0 0;
	width: 237px;
	height: 254px;
	background: url('../../content/img/tablets/tablet-right.png') no-repeat;
	background-size: 100%;
}
#tablets .lines{
	position: relative;
	margin: 92px 0 0 274px;
	width: 467px;
	height: 207px;
}
#tablets .additional{
	position: absolute;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	opacity: 0;
}
#tablets .additional:first-of-type{
	top: 4px;
	left: 123px;
	color: #f19607;
}
#tablets .additional:nth-of-type(2){
	top: 101px;
	left: 146px;
	color: #f53f36;
}
#tablets .additional:last-of-type{
	bottom: 8px;
	left: 150px;
}
#tablets .line{
	position: absolute;
}
#tablets .line:first-of-type{
	top: 44px;
	left: 0;
	width: 0;
	height: 89px;
	background: url('../../content/img/tablets/line-1.png') no-repeat;
	background-size: 100% 100%;
}
#tablets .line:nth-of-type(2){
	top: 116px;
	left: 19px;
	width: 0;
	height: 14px;
	background: url('../../content/img/tablets/line-2.png') no-repeat;
	background-size: 100% 100%;
}
#tablets .line:last-of-type{
	bottom: 3px;
	left: 29px;
	width: 0;
	height: 49px;
	background: url('../../content/img/tablets/line-3.png') no-repeat;
	background-size: 100% 100%;
}
#tablets .result{
	display: -webkit-box;
	-webkit-box-align: center;
	position: absolute;
	bottom: 120px;
	width: 269px;
	height: 158px;
	padding: 0 37px;
	background: #feffff;
	font-size: 20px;
	border: 1px solid #1c74bf;
	border-radius: 10px;
	-webkit-transform: translate3d(-700px, 0 ,0);
}
#tablets .result:first-of-type{
	left: 65px;
}
#tablets .result:last-of-type{
	right: 65px;
}
#tablets .result:before,
#tablets .result:first-of-type:after{
	position: absolute;
	content: '';
}
#tablets .result:before{
	top: 8px;
	left: 5px;
	bottom: 8px;
	right: 5px;
	border: 2px solid #ebf2f9;
	border-radius: 10px;
}
#tablets .result:first-of-type:after{
	top: 20px;
	right: -131px;
	width: 52px;
	height: 119px;
	background: url('../../content/img/tablets/arrow.png') no-repeat;
	background-size: 100% 100%;
}
/* animation */
#presentation.third #tablets > *{
	opacity: 1;
}
#presentation.third #tablets .tablet-left{
	-webkit-transition-delay: 300ms;
	-webkit-transition-duration: 400ms;
}
#presentation.third #tablets .tablet-right{
	-webkit-transition-delay: 700ms;
}
#presentation.third #tablets .line{
	-webkit-transition: 1s;
}
#presentation.third #tablets .line:first-of-type{
	width: 472px;
	-webkit-transition-delay: 2100ms;
}
#presentation.third #tablets .line:nth-of-type(2){
	width: 404px;
	-webkit-transition-delay: 3100ms;
}
#presentation.third #tablets .line:last-of-type{
	width: 316px;
	-webkit-transition-delay: 4100ms;
}
#presentation.third #tablets .additional{
	-webkit-transition: opacity 500ms;
	opacity: 1;
}
#presentation.third #tablets .additional:first-of-type{
	-webkit-transition-delay: 2600ms;
}
#presentation.third #tablets .additional:nth-of-type(2){
	-webkit-transition-delay: 3600ms;
}
#presentation.third #tablets .tablet-left > *{
	-webkit-transition: opacity 700ms;
	opacity: 1;
}
#presentation.third #tablets .additional:last-of-type{
	-webkit-transition-delay: 5300ms;
}
#presentation.third #tablets .step-1{
	-webkit-transition-delay: 6000ms;
}
#presentation.third #tablets .step-2{
	-webkit-transition-delay: 6700ms;
}
#presentation.third #tablets .step-3{
	-webkit-transition-delay: 7400ms;
}
#presentation.third #tablets .step-4{
	-webkit-transition-delay: 8100ms;
}
#presentation.third #tablets .step-5{
	-webkit-transition-delay: 8800ms;
}
#presentation.third #tablets .result{
	-webkit-transform: translate3d(0, 0 ,0);
	-webkit-transition: 1s 9500ms;
}